{%extends "layout.html"%}

{%block content%}
<style>
    table, th, td {
      border: 1px solid black;
    }
    </style>

<div id="uploaded">

 

    {%if grafico %}
    
        <div>
            <img src= "/static/img/graph.png" alt="graph">
            <div>
                <form action="" method="POST">
                    <table>
                        <tr>
                            <th> Centro Distribución </th>
                            <th> Puntos de Venta a distribuir </th>
                            <th> Cantidad a distribuir </th>
                        </tr>
                        {% for x,y in dict.items() %}
                        <tr>
                            <td>{{ x }}</td>
                            <td><input type="text" id="ventas{{ x }}" name="ventas{{ x }}"></td>
                            <td><input type="text" id="cantidad{{ x }}" name="cantidad{{ x }}"></td>
                        </tr>
                        {% endfor %}
        
                    </table>
                    <button type="submit" name="submit" value="programar">Programar Entregas</button>
                </form>
                </div>
            <table>
                <tr>
                    <th> Centro Distribucion </th>
                    <th> Punto de Venta </th>
                    <th> Distancia Centro-Punto </th>
                </tr>
                {% for x,y in dict.items() %}
                {% for a,b in y.items() %}
                <tr>
                    <td>{{ x }}</td>
                    <td>{{ a }}</td>
                    <td>{{ b }}</td>
                </tr>
                {% endfor %}
                {% endfor %}

            </table>
        </div>

        
   

    {%else%}
    <h1>ERROR</h1>

    {%endif%}
</div>
    
{%endblock%}